<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

{% load compress %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BiXcuit</title>

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="/static/css/less/bootstrap.less" />
        <link rel="stylesheet/less" type="text/css" media="all" href="/static/css/bootstrap-responsive.css" />
        <link rel="stylesheet/less" type="text/css" href="/static/css/main.less" media="screen" />
        <script src="/static/js/less-1.3.1.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="/static/css/less/bootstrap.less" />
            <link rel="stylesheet/less" type="text/css" media="all" href="/static/css/bootstrap-responsive.css" />
            <link rel="stylesheet" type="text/less" href="/static/css/main.less" media="screen" />
        {% endcompress %}
    {% endif %}

</head>
<body style="height: 100%; width: 100%">
    <div class="container clearfix">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="#">BiXcuit</a>

                <div class="items">
                    <ul class="nav">
                        <li><a href="#" id="linkWhat">What ?</a></li>
                        <li><a href="#" id="linkWhy">Why ?</a></li>
                        <li><a href="#" id="linkWho">Who ?</a></li>
                        <li><a href="#" id="linkHow">How ?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content clearfix">
        <div class="plain-row clearfix">
            <div class="plain-view" id="viewport">
                <div class="plain-detail-info" style="display: none;">
                    <label id="placeholderName"></label>
                    <label id="placeholderAvailable"></label>
                    <label id="placeholderNotAvailable"></label>
                </div>
            </div>

            <div class="plain-info">
                <div class="plain-info-text" id="sectionWhat">
                    <a href="https://github.com/whirly/Bixcuit" target="_blank" class="github"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
                    <h1>What ?</h1>
                    <p>
                        This application show you in <b>real time</b> the usage of the <a href="https://bixi.com/">BiXi system</a> in <a href="http://ville.montreal.qc.ca/">Montreal</a>. Each bar represents a BiXi station. The <b>green</b> part is the amount of bikes <b>available</b>,
                        the <b>yellow</b> one the amount of <b>missing</b> bikes. If the bar is <b>red</b> it means that the station is currently <b>locked</b>.
                    </p>
                    <p>
                        This map is refreshed <b>every minute</b>, there is a counter on the top left part of the map to display the time remaining to the next refresh. You can move around using the <b>arrows</b> on your keyboard. <b>Page up</b> and <b>Page down</b>
                        change the camera's view angle. <b>A</b> and <b>Z</b> let you rotate around the map.
                    </p>
                    <p>
                        <b>Focusing a bar</b> with your mouse cursor will display more information about the station in the upper left corner.
                    </p>
                    <P>
                        Have Fun !
                    </P>
                </div>

                <div class="plain-info-text" id="sectionWhy">
                    <h1>Why ?</h1>
                    <p>
                        For several years I was (and still am ) a <b>game developer</b>, I spent some long hours writing code for games and my job right now evolve around gaming (You can see more about my professional side <a href="http://www.methodinthemadness.eu">here</a>).
                    </p>
                    <p>
                        Point is, I see more and more people asking for <b>web applications</b> and I was eager to know what is the current state of <a href="http://www.khronos.org/webgl/">WebGL</a> and is it usable right now ? So I decided to write this little application to do some data
                        visualisation.
                    </p>
                    <p>
                        As for the data, <b>Francis Gosselin</b> from <a href="http://fandco.ca/">f. & co</a> was around and told me about the BiXi system in Montreal. The datasource was available and produces some real time data. Exactly what I was looking for.
                    </p>
                </div>

                <div class="plain-info-text" id="sectionWho">
                    <h1>Who ?</h1>
                    <p>
                        The code, design and so on where mainly produced by me, <b>Stéphane Becker</b> ( sbecker at methodinthemadness.eu ). Some additionnal code to generate the <a href="http://www.openstreetmap.org/">OpenStreeMap</a> were produced by <b>Emmanuel Rieg</b> ( riegemmanuel at gmail.com ). All the creative commons photos were
                        grabbed from <a href="http://www.flickr.com">Flickr</a>. I should provide the link to the photo's author in a soon coming future.
                    </p>
                    <p>
                        This project was started at <a href="http://hacksxb.com">HackSXB</a> The place to be if you want to do some serious hacking in Strasbourg, France.
                    </p>
                    <p>
                        Special thanks to <b>Yann Klis</b> for providing all sarcasms needed to propulse this project and for organizing <a href="http://www.hacklechalet.com/">Hack Le Chalet</a> which was a wonderful event where I realised that I should finish all these "in progress" projects.
                    </p>
                </div>
                <div class="plain-info-text" id="sectionHow">
                    <h1>How ?</h1>
                    <p>
                        I've used several tools to create this web page. For the design my starting point was <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, despite the fact that I ended doing a custom page set up myself.
                        For the 3D I use <a href="http://www.khronos.org/webgl/">WebGL</a>, specifically <a href="http://threejs.org/">Three.js</a>. And finally the back end was written using <a href="https://www.djangoproject.com/">Django</a>.
                    </p>
                    <p>
                        The service I used to poll the data is located <a href="http://montreal.bixi.com/data/bikeStations.xml">here</a>. The map is draw using data from <a href="http://www.openstreetmap.org/">Open Street Map</a>. I will certainly enhance this application
                        as I've got <b>several ideas</b> of some fun stuff we could do here.
                    </p>
                    <p>
                        If you are looking to do some data visualisation, feel free to <a href="mailto:contact@methodinthemadness.eu">contact us</a>.
                    </p>
                </div>
            </div>
        </div>

        <div id="gallery" class="clearfix gallery">
            <div class="gallery-picture"><img src="/static/img/1.jpg"/></div><div class="gallery-picture"><img src="/static/img/2.jpg"/></div><div class="gallery-picture"><img src="/static/img/3.jpg"/></div><div class="gallery-picture"><img src="/static/img/4.jpg"/></div><div class="gallery-picture"><img src="/static/img/5.jpg"/></div>
        </div>
    </div>


    <div id="input"></div>

    <script src="/static/js/libs/three.min.js"></script>
    <script src="/static/fonts/helvetiker_bold.typeface.js"></script>
    <script src="/static/js/libs/jquery-1.7.2.min.js"></script>

    <script src="/static/js/tiles.js"></script>
    <script src="/static/js/bixi.js"></script>
    <script src="/static/js/application.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39582165-2', 'methodinthemadness.eu');
      ga('send', 'pageview');
    </script>
</body>

</html>